<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Camera Capture</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
    <div class="bg-success text-white text-center p-3">
        <h2>nightskycam: camera local server</h2>
    </div>
    
    <div class="container mt-4">
        <h1>Camera Configuration</h1>
        <form method="post" action="{{ url_for('camera.capture') }}">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td><label for="exposure">Exposure (micro seconds):</label></td>
                        <td><input type="number" name="exposure" value="{{ config.default_camera_config.exposure }}" required step="1"></td>
                    </tr>
                    <tr>
                        <td><label for="gain">Gain:</label></td>
                        <td><input type="number" name="gain" value="{{ config.default_camera_config.gain }}" required step="1"></td>
                    </tr>
                    {% if config.default_camera_config.focus is not none %}
                    <tr>
                        <td><label for="focus_min">Focus Min:</label></td>
                        <td><input type="number" name="focus_min" value="{{ config.default_camera_config.focus or 0 }}" required step="1"></td>
                    </tr>
                    <tr>
                        <td><label for="focus_max">Focus Max (optional):</label></td>
                        <td><input type="number" name="focus_max" step="1"></td>
                    </tr>
                    <tr>
                        <td><label for="focus_step">Focus Step (optional):</label></td>
                        <td><input type="number" name="focus_step" step="1"></td>
                    </tr>
                    {% endif %}
                    {% if config.default_camera_config.aperture is not none %}
                    <tr>
                        <td><label for="aperture">Aperture:</label></td>
                        <td><input type="number" name="aperture" value="{{ config.default_camera_config.aperture or 0 }}" required step="1"></td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td colspan="2"><input type="submit" value="Capture" class="btn btn-primary"></td>
                    </tr>
                </tbody>
            </table>
        </form>

        <h2>Captured Images</h2>
        <ul class="text-muted small">
            <li>Only the latest 10 images will be displayed. Older images will be deleted.</li>
            <li>This page refreshes every 5 seconds.</li>
            <li>Hover over thumbnails to see the corresponding high-resolution image.</li>
            <li>Click on the thumbnails to download the high-resolution image.</li>
        </ul>
        <div id="thumbnails" class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Thumbnail</th>
                        <th>High Resolution</th>
                        <th>Configuration</th>
                    </tr>
                </thead>
                <tbody>
                    {% for image in images_info %}
                    <tr>
                        <td class="align-middle">
                            {% if image.meta.error %}
                                <div class="alert alert-danger">{{ image.meta.error }}</div>
                            {% else %}
                                <div class="thumbnail">
                                    <a href="{{ url_for('camera.serve_media', filename=image.image) }}">
                                        <img src="{{ url_for('camera.serve_media', filename=image.thumbnail) }}" alt="Thumbnail" class="img-fluid">
                                    </a>
                                </div>
                            {% endif %}
                        </td>
                        <td class="align-middle high-res-container"></td>
                        <td class="align-middle">
                            <div class="config"> 
                                Exposure: {{ image.meta.exposure }}, Gain: {{ image.meta.gain }}{% if image.meta.focus is not none %}, Focus: {{ image.meta.focus }}{% endif %}{% if image.meta.aperture is not none %}, Aperture: {{ image.meta.aperture }}{% endif %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
